
 <h2 class="page-header">Job List</h2>


 <div class="container"></div>
    {{#isEmployee user}}
 <button class="btn btn-default">Applied Job</button>
 {{else}}
 <form action="jobs/addForm">
 <input type="submit" value="Add Job" class="btn btn-default">
 </form>
{{/isEmployee}}

<p></p>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Post Date</th>
          <th>Position</th>
          <th>Category</th>
          <th>Company</th>
          <th>Description</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Deadline</th>
           {{#isEmployee user}}
          <th>Apply</th>
          {{else}}
          <th>Edit</th>
          {{/isEmployee}}
        </tr>
      </thead>
      <tbody>
        {{#each jobs}}
        
          {{#isEmployee ../user}}
           {{#isDeadLine ../this}}
            {{else}}
            <tr>

            <form action="jobs/apply" method="POST">
          <td>{{this.post_date}}</td>
          <input type="hidden" value="{{this._id}}" name="_id" />
          <td>{{this.position}}</td>
          <td>{{this.category}}</td>
          <td>{{this.company}}</td>
          <td>{{this.description}}</td>
          <td>{{this.type}}</td>
          <td>{{this.salary}}</td>
          <td>{{this.deadline}}</td>
          <td><input type="submit" value="Apply" class="btn btn-default"></td>
          </form>
          </tr>
          {{/isDeadLine}}
          {{else}}
          <tr>

          <form action="jobs/update" method="POST">
          <td>{{../this.post_date}}</td>
          <input type="hidden" value="{{../this._id}}" name="_id" />
          <td><input class="form-control" type="text" name = "position" value="{{../this.position}}">{{../this.position}}</td>
          <td><input class="form-control" type="text" name = "category" value="{{../this.category}}">{{../this.category}}</td>
          <td><input class="form-control" type="text" name = "company" value="{{../this.company}}">{{../this.company}}</td>
          <td><textarea class="form-control" type="textarea" name="description" id="description" placeholder="Description" maxlength="140" rows="7">{{../this.description}}</textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                    </td>
          <td><input class="form-control" type="text" name = "type" value="{{../this.type}}">{{../this.type}}</td>
          <td><input class="form-control" type="number" name = "salary" value="{{../this.salary}}">{{../this.salary}}</td>
          <td><input class="form-control" type="text" id="deadline" name = "deadline" value="{{../this.deadline}}">{{../this.deadline}}</td>
          <td><input type="submit" value="Update" class="btn btn-default"></td>
 </form>
 </tr>
          {{/isEmployee}}
          
        {{/each}}
      </tbody>
      <tfoot>
        <th>Post Date</th>
          <th>Position</th>
          <th>Category</th>
          <th>Company</th>
          <th>Description</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Deadline</th>
          {{#isEmployee user}}
          <th>Apply</th>
          {{else}}
          <th>Edit</th>
          {{/isEmployee}}
      </tfoot>
    </table>
</div>
<br>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
    $('#deadline').datepicker();
} );
</script>
