
 <h2 class="page-header">Job List</h2>


 <div class="container"></div>
    {{#isEmployee user}}
 <button class="btn btn-default">Applied Job</button>
 {{else}}
 <form action="jobs/addForm">
 <input type="submit" value="Add Job" class="btn btn-default">
 </form>
{{/isEmployee}}

<p></p>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Post Date</th>
          <th>Position</th>
          <th>Category</th>
          <th>Company</th>
          <th>Description</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Deadline</th>
		  
           {{#isEmployee user}}
          <th>Apply</th>
          {{else}}
          <th>Edit</th>
          {{/isEmployee}}
        </tr>
      </thead>
      <tbody>
        {{#each jobs}}
        
          {{#isEmployee ../user}}
           {{#isDeadLine ../this}}
            {{else}}
            <tr>

            <form action="jobs/apply" method="POST">
          <td>{{this.post_date}}</td>
          <input type="hidden" value="{{this._id}}" name="_id" />
          <td>{{this.position}}</td>
          <td>{{this.category}}</td>
          <td>{{this.company}}</td>
          <td>{{this.description}}</td>
          <td>{{this.type}}</td>
          <td>{{this.salary}}</td>
          <td>{{this.deadline}}</td>
          <td><input type="submit" value="Apply" class="btn btn-default"></td>
		  
          </form>
          </tr>
          {{/isDeadLine}}
          {{else}}
          <tr>
		
          <form action="jobs/updateForm" method="POST">
          <td>{{../this.post_date}}</td>
          <input type="hidden" value="{{../this._id}}" name="_id" />
          <td>{{../this.position}}</td>
          <td>{{../this.category}}</td>
          <td>{{../this.company}}</td>
          <td>{{../this.description}}</td>
          <td>{{../this.type}}</td>
          <td>{{../this.salary}}</td>
          <td>{{../this.deadline}}</td>
          <td><input type="submit" value="Update" class="btn btn-default"></td>
 </form>
 </tr>
          {{/isEmployee}}
          
        {{/each}}
      </tbody>
      <tfoot>
        <th>Post Date</th>
          <th>Position</th>
          <th>Category</th>
          <th>Company</th>
          <th>Description</th>
          <th>Type</th>
          <th>Salary</th>
          <th>Deadline</th>
          {{#isEmployee user}}
          <th>Apply</th>
          {{else}}
          <th>Edit</th>
          {{/isEmployee}}
      </tfoot>
    </table>
</div>
<br>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
    $('#deadline').datepicker();
} );
</script>
