
 <h2 class="page-header">Contact List</h2>


 <div class="container">

<p></p>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Post Date</th>
          <th>Name</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Username</th>
          <th>Feedback</th>
        </tr>
      </thead>
      <tbody>
        {{#each contacts}}
            
        <tr>
           
            <td>{{this.post_date}}</td>
          <td>{{this.name}}</td>
          <td>{{this.subject}}</td>
          <td>{{this.message}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.email}}</td>
          <td>{{this.username}}</td>
          <td style="max-width:200px">
              {{#if this.feedback}}
              {{#each this.feedback}}
                {{this.body}} <br> {{this.date}} 
              {{/each}}
              {{else}}
               {{#if this.username}}
<form action="/contacts/feedback" method="post" role="form">
 <input type="hidden" value="{{this._id}}" name="_id" />
    <br style="clear:both">
    <div class="form-group">
                    <textarea class="form-control" type="textarea" name="feedback" id="feedback" placeholder="Feedback" maxlength="140" rows="7"></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                     <input type="submit" class="btn btn-primary pull-right" value="Feedback" />
                    </div>
                    </form>
                    {{else}}
                    <a href="mailto:{{this.email}}?subject=Re: {{this.subject}}&body=Feedback of Message: {{this.message}}" target="_top">Send Mail</a>
                    {{/if}}
                    {{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <th>Post Date</th>
          <th>Name</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Username</th>
          <th>Feedback</th>
      </tfoot>
    </table>
</div>
<br>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
