
 <h2 class="page-header">User List</h2>


 <div class="container">

<form action="/users/addUser">
 
          <input type="submit" value="Add User" class="btn btn-default">
          </form>

<p></p>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Home Address</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        {{#isEmployee this}}
        <tr>
          <form action="/users/admin/update" method="POST">
        <input type="hidden" name="xx" value="{{this.password}}"/>        
        <input type="hidden" name="username" value="{{this.username}}"/>  
        
          <td><input class="form-control" type="text" name = "name" value="{{this.name}}">{{this.name}}</td>
          <td><select id="user_gender" class="form-control" name="gender">
                  <option id="Male" value="Male">Male</option>
                  <option id="Female" value="Female">Female</option>
                  
                </select>{{this.gender}}</td>
                <script>$('#user_gender').val('{{this.gender}}');</script>
          <td><input class="form-control" type="text" id="dob" name = "dob" value="{{this.dob}}">{{this.dob}}</td>
          <td><input class="form-control" type="text" name = "address" value="{{this.address}}">{{this.address}}</td>
          <td><input class="form-control" type="text" name = "phone" value="{{this.phone}}">{{this.phone}}</td>
          <td><input class="form-control" type="email" name = "email" value="{{this.email}}">{{this.email}}</td>
          <td>{{this.username}}</td>
          <td><input class="form-control" type="password" name = "password" value="{{this.password}}"></td>
          <td><input type="submit" value="Update" class="btn btn-default">
          </form>
          <form action="/users/admin/delete" method="POST">
          <input type="hidden" name="username" value="{{this.username}}"/>  
          <input type="submit" value="Delete" class="btn btn-default">
          </form></td>
          
          </tr>
          
          {{/isEmployee}}
        {{/each}}
      </tbody>
      <tfoot>
        <th>Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Home Address</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Action</th>
      </tfoot>
    </table>
</div>
<br>
<script>
$(document).ready(function() {
    $('#example').DataTable();
  $('#dob').datepicker();
} );

</script>
